@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
$font-family-base: 'Raleway', sans-serif;
//$navbar-height: 80px;
$font-size-base: 16px ;
// Import bootstrap and fontawesome
@import "bootstrap";
@import "font-awesome";

.avatar {
  height: 30px;
  width: 30px;
}

.user-info {
  font-weight: bold;
}

.logout {
  font-size: 12px;
}
